* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*tornando as caixas mais adaptaveis (pra naõ ficar sobrando elementos)*/
}

header {
    padding: 2rem 1rem;
    background-color: #a7a09b;
}

.cointaner {
    padding: 5rem 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;

}

.cointaner div{
    height: 20rem;
    width: 20rem;
    margin: 12px;
    min-width: 299px;
}

.sessao1{
    background-color: #8b847d;
    background-position: start;
    background-image: url();
    
}


.sessao1 h1{
font-size: 2.2rem;
color: black
}

.sessao1 p{
    font-size: 1.1rem;
    color: white;

}

