* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*tornando as caixas mais adaptaveis (pra naõ ficar sobrando elementos)*/
}

header {
    padding: 2rem 1rem;
    background-color: rgb(61, 60, 60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    position: sticky;
    top: 0;
    left: 0;

    z-index: 999;

}

.hamburger {
    display: none;

}

.nav-div {
    display: flex;
    justify-content: end;
}

header img {
    display: flex;
    align-items: center;
}

.list-01 ul {
    display: flex;
    gap: 1rem;
}

.list-01 ul li {
    list-style: none;
}

.list-01 ul li a {
    text-decoration: none;
    color: rgb(61, 60, 60);
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
}

.list-01 ul li a:hover {
    background-color: rgb(61, 60, 60);
    transition: 0.9s;
    color: white;
}

.cointaner {
    padding: 5rem 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;


}

.cointaner div {
    height: 28rem;
    width: 28rem;
    margin: 12px;
    min-width: 299px;


}

.sessao1 {
    background-color: #8b847d;
    justify-content: space-between;
    background-image: url(imagens/banner-advogado-goiania.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}

.sessao1 div {
    gap: 0.7rem;
    background-position: start;
}

.sessao1 h1 {
    font-size: 2.2rem;
    color: white;

}

.sessao1 p {
    font-size: 1.1rem;
    color: white;

}

.sessao1 button {
    padding: 0.7rem;
    background-color: grey;
    color: white;
    border-radius: 0.7rem;
}


.sessao2 {
    background-color: rgb(87, 85, 85);

}

.sessao2 img {
    border-radius: 1rem;
}

.div-paragrafo01 {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
}

.sessao3 {
    background-color: rgb(87, 85, 85);
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.sessao3 p {
    font-size: 2.2rem;
    color: white;
    font-weight: 700;
}

.sessao3 img {
    border-radius: 1rem;
}

.sessao4 {

    background-image: url(imagens/pngtree-wooden-benches-in-court-room-picture-image_3636964.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    background-attachment: fixed;

}

.sessao4 button {
    padding: 0.7rem;
    background-color: black;
    color: white;
    border-radius: 0.7rem;
}

.sessao4 button:hover {
    background-color: gray;
    color: white;
    transition: 0.8s;
}

.sessao4 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

footer {
    background-color: rgb(87, 85, 85);
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-evenly;
}

.line {
    margin: 2rem;
    width: 10rem;
}

.ul-footer {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.ul-footer a {
    text-decoration: none;
    color: white;

}

.ul-footer li {
    list-style: none;
}

.ul-footer li a{
    font-weight: 600;
}

.ul-footer li a:hover{
color: black;
background: transparent;
transition: 0.8s;
}


.img-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line{
    width: 7.8rem;
}

.sociais {
    padding: 0.9rem;
    display: flex;
    gap: 10px;
}

.sociais i {
    color: white;
    font-size: 2rem;
}

.sociais i:hover{
    background: transparent;
    color: rgb(0, 0, 0);
    transition: 0.8s;
}




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* Responsividade */

@media (max-width: 834px) {

    .sessao3-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 768px) {

    .logo-header {
        width: 3rem;
        
    }


    .hamburger {
        display: flex;
        padding: 0.3rem;
        background: transparent;
        color: white;
        font-size: 1.5rem;
    }

    .list-01 {
        display: none;
        /*o display none serve para esconder o conteúdo e fazer com que ele não fique visível*/
    }

    .div-01 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-01 p {
        font-size: 1.6rem;
        margin: 25px;
    }

    .sessao2 {
        gap: 1rem;
        justify-content: center;
        align-items: center;

    }

    .sessao2-div {
        display: flex;
        justify-content: center;
        width: 10rem;
    }

    .sessao2 img {
        width: 350px;
        height: 350px;
        border-radius: 15px;
    }

    .sessao2 p {
        font-size: 2.0rem;
        color: white;
        font-weight: 700;
    }

    .div-paragrafo01 {
        width: 200px;
    }

    .sessao3 {
        gap: 5rem;
        justify-content: center;
        align-items: center;

    }

    .sessao3-div {
        display: flex;
        justify-content: center;
        width: 8rem;

    }

    .sessao3 img {
        width: 350px;
        height: 350px;
        border-radius: 15px;


    }

    .div-sessao04 {
        display: flex;
        justify-content: center;
        align-items: center;
    }






}